$font: 'sans-serif';
$font_bold: 'sans-serif';

$color_base: #ffffff;
$color_font: #000000;
$color_accent: #ff0000;
$color_accent_font: #ffffff;
$color_shadow: #000000;

$margin: 4px;
$padding: 8px;

$border_radius: 10px;
