@import 'variables';

@import 'components/ContentWrapper/ContentWrapper';

body {
  font-family: $font;
  padding: 0;
  margin: 0;
}

#entry {
  height: 100vh;
}

.focused {
  background-color: grey;
}
