@import 'ArticleList/ArticleList';
@import 'SourceList/SourceList';

.cw {
  display: flex;
  height: 100vh;

  .cw--left {
    flex-basis: 30vw;
    overflow-x: hidden;
  }

  .cw--right {
    flex-basis: 70vw;
    overflow-x: hidden;
  }
}
