.si {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $margin;
  padding: $padding*2;

  .si--counter {
    padding: $padding/2 $padding;
    margin: $margin/2 $margin;
    color: $color_accent_font;
    background-color: $color_accent;
    border-radius: $border_radius;
  }
}
